@using TicketDesk.Localization.Views.Ticket
@using System.Configuration
@using TicketDesk.Domain.Model
@model Ticket

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/content/editor")
@Styles.Render("~/content/select2")
@Styles.Render("~/content/summernote")
@Styles.Render("~/content/datepicker")

<div class="card card-default" @*style="margin:0 auto; width:70%"*@>
    <div class="card-header">
        Add New Ticket
    </div>
    <div class="card-body">
        @using (Html.BeginForm("New", "Ticket", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, New.UnableCreateTicket, new { @class = "alert alert-danger" })

            @Html.HiddenFor(model => model.TicketId)
            @Html.HiddenFor(model => model.IsHtml)
            <input type="hidden" name="tempId" value="@ViewBag.TempId" />

            <div class="container">

                <div class="row">
                    <div class="col">
                        @if (ViewBag.IsMultiProject ?? false)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProjectId, new { @class = "control-label" })
                                <div class="">
                                    @Html.DropDownListFor(model => model.ProjectId, Model.GetProjectList((int?)ViewBag.SelectedProjectId), new { @class = "form-control input-sm", tabindex = 0 })
                                    @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.ProjectId)
                        }

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @Html.LabelFor(model => model.Title, new { @class = "control-label focus" })
                        <div class="">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control input-sm", placeholder = New.TicketTitle_Placeholder, tabindex = 1, autofocus = string.Empty })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @Html.LabelFor(model => model.TicketType, new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownListFor(model => model.TicketType, Model.GetTicketTypeList(), new { @class = "form-control input-sm", tabindex = 2 })
                            @Html.ValidationMessageFor(model => model.TicketType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col">
                        @Html.LabelFor(model => model.Category, new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownListFor(model => model.Category, Model.GetCategoryList(), new { @class = "form-control input-sm", tabindex = 3 })
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col">
                        @if (Model.AllowEditPriorityList())
                        {
                            @Html.LabelFor(model => model.Priority, new { @class = "control-label" })
                            <div class="">
                                @Html.DropDownListFor(model => model.Priority, Model.GetPriorityList(), new { @class = "form-control input-sm", tabindex = 4 })
                                @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <br />
                        <label class="checkbox-inline" for="affectsCustomer">
                            <input class="" type="checkbox" name="affectsCustomer" id="affectsCustomer" value="true" tabindex="5" />
                            @New.AffectsCustomer
                        </label>
                    </div>
                    <div class="col">
                        @Html.LabelFor(model => model.DueDate, new { @class = "control-label" })
                        <div class="">
                            @Html.TextBoxFor(model => model.DueDateAsString, new { @class = "form-control input-sm", tabindex = 6, @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @Html.LabelFor(model => model.TargetDate, new { @class = "control-label" })
                        <div class="">
                            @Html.TextBoxFor(model => model.TargetDateAsString, new { @class = "form-control input-sm", tabindex = 7, @readonly = "readonly" })
                        </div>

                    </div>
                    <div class="col">
                        @Html.LabelFor(model => model.ResolutionDate, new { @class = " control-label" })
                        <div class="">
                            @Html.TextBoxFor(model => model.ResolutionDateAsString, new { @class = "form-control input-sm", tabindex = 8, @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @if (Model.AllowEditTags())
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.TagList, new { @class = "control-label" })
                                <div class="">
                                    @Html.TextBoxFor(m => m.TagList, new { id = "ticketTags", @class = "form-control input-sm", tabindex = 11 })
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @if (Model.IsHtml) //TODO: Refactor into a partial or mvc editorfor view
                        {
                            <div class="form-group">
                                <label class="control-label" for="summernote">@New.Details</label>
                                <div class="">
                                    <textarea id="wmd-input-ticketDetails" name="Details" data-val-required="" data-val="true" cols="120" rows="15" style="height:200px" tabindex=12>@Model.Details</textarea>
                                    @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="control-label" for="wmd-input-ticketDetails">@New.Details</label>
                                <div class="wmd-panel">
                                    <div class=" tabbable tabs-below">
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab1">
                                                <div id="wmd-button-bar-ticketDetails" class="" style="display: inline-block"></div>
                                                @Html.TextAreaFor(model => model.Details, new { id = "wmd-input-ticketDetails", @class = "wmd-input form-control", data_val_required = "", data_val = "true", cols = "92", rows = "15", style = "height:200px", tabindex = 12 })

                                            </div>
                                            <div class="tab-pane fade" id="tab2">
                                                <div class="row" style="min-height: 35px;"></div>

                                                <div id="wmd-preview-ticketDetails" class="wmd-panel wmd-preview form-control">

                                                </div>
                                            </div>
                                        </div>
                                        <ul class="nav nav-tabs navbar-right">
                                            <li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-edit"></i>&nbsp;@New.EditOption</a></li>
                                            <li><a href="#tab2" data-toggle="tab"><i class="fa fa-eye"></i>&nbsp;@New.PreviewOption</a></li>
                                        </ul>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @if (Model.AllowSetOwner())
                        {
                            @Html.LabelFor(model => model.Owner, new { @class = "control-label" })
                            <div class="">
                                @Html.DropDownListFor(model => model.Owner, Model.GetOwnersList(), new { @class = "form-control input-sm", tabindex = 13 })
                                @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
                            </div>
                        }

                    </div>
                    <div class="col">
                        @if (Model.AllowSetAssigned())
                        {
                            @Html.LabelFor(model => model.AssignedTo, new { @class = "control-label" })
                            <div class="">
                                @Html.DropDownListFor(model => model.AssignedTo, Model.GetAssignedToList(), new { @class = "form-control input-sm", tabindex = 14 })
                                @Html.ValidationMessageFor(model => model.AssignedTo, "", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="control-label">@New.Files</label>

                        @{
                            var demoMode = ConfigurationManager.AppSettings["ticketdesk:DemoModeEnabled"] ?? "false";
                            if (demoMode.Equals("true", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <div class="alert alert-warning">
                                    @Html.Raw(New.Attachment_Demo_Alert)
                                </div>
                            }
                            else
                            {
                                <div class="dropzone" style="min-height: 40px;" id="attachmentsDropZone">
                                    <div class="dz-message" data-dz-message><i class="fa fa-download "></i> @New.Attachment_Instructions</div>
                                    <div class="dropzone-previews" id="dz-preview"></div>
                                </div>
                            }}
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success btn-lg" tabindex="15">@New.SaveOption</button>&nbsp;&nbsp;
                        @Html.ActionLink(New.BackOption, "Index")
                    </div>
                </div>
            </div>
        }

    </div>

</div>

@section scripts
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>*@
    @Scripts.Render("~/bundles/select2")
    @*@Scripts.Render("~/bundles/select2_locale_" + CultureHelper.GetCurrentCulture())*@
    @Scripts.Render("~/bundles/markdown")
    @Scripts.Render("~/bundles/summernote")
    @Scripts.Render("~/bundles/summernote_locale_" + CultureHelper.GetCurrentCulture())
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/datepicker")

    <script type="text/javascript">

        (function () {
            $.ajaxSetup({ cache: false });
            var uploaderConfig = {
                dropzoneUploadUrl: '@Url.Action("Upload", "File")',
                getAttachmentsUrl: '@Url.Action("GetAttachmentsInfo", "File")',
                deleteFileUrl: '@Url.Action("Delete", "File")',
                defaultThumbnailUrl: '@Url.Content("~/content/images/general-file.png")',
                ticketId: null
            };
            var tagsConfig = {
                tagAutoCompleteUrl: '@Url.Action("TagList", "AutoComplete")'
            };
            var detailsConfig = {
                isHtml: @(Model.IsHtml ? "true" : "false")
            };
            window.ticketTags.activate(tagsConfig);
            window.ticketDetails.activate(detailsConfig);
            window.ticketFileUploader.activate(uploaderConfig);
            $("#DueDateAsString").datepicker({ autoclose: true, clearBtn:true, todayBtn: "linked" });
            $("#TargetDateAsString").datepicker({ autoclose: true, clearBtn:true, todayBtn: "linked" });
            $("#ResolutionDateAsString").datepicker({ autoclose: true, clearBtn:true, todayBtn: "linked" });
        })();
    </script>
    <script>
        $(document).ready(function () {
            $('.controller-name').html('Ticket');
            $('.controller-action').html('Add New Ticket');
        });
    </script>
}