<style>
    .navbar-brand {
        width: 225px;
        height: 50px;
        background-repeat: no-repeat;
        background-image: url(Images/TicketDesk-2.5-mobile.png);
        background-image: url('../../Content/Images/TicketDesk-2.5-mobile.png');
    }

    .navbar-nav .dropdown-menu {
        padding-left: 10px;
    }
</style>
<nav class="main-header navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-link"> <i class="nav-icon fas fa-th"> Dashboard</i></a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="nav-icon fas fa-newspaper"> </i> Ticket
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="@Url.Action("Index", "TicketCenter", new {area = ""})" class="nav-link"> <i class="nav-icon fas fa-chart-line"> </i> Ticket Center</a>
                        <a href="@Url.Action("New", "Ticket", new {area = ""})" class="nav-link"> <i class="nav-icon fas fa-newspaper"> </i> New Ticket</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="nav-icon fas fa-chart-area"> </i> Report
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("TopDelayedTask", "TicketCenter", new {area = ""})">Delayed Report</a>

                    </div>
                </li>

                if (User.Identity.IsAuthenticated && User.IsInRole("TdAdministrators"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="nav-icon fas fa-cogs"> </i> Settings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "UserAdministration")">Manage Users</a>
                            <a class="dropdown-item" href="@Url.Action("Telegram User", "Telegramusers", "UserAdministration")">Pending User</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "ProjectSettings")">Project Settings</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "ApplicationSettings")">Application Settings</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "PushNotificationSettings")">Push Notification Settings</a>
                        </div>
                    </li>
                }
            }
        </ul>
        <div class="form-inline my-2 my-lg-0 dropdown">
            <input class="form-control mr-sm-2" data-toggle="dropdown" style="border-radius: 90px" id="searchBox" type="text" placeholder="Search" aria-label="Search">
            @*<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>*@
            <div class="dropdown-menu pull-right" id="searchItem" aria-labelledby="navbarDropdown">
                
            </div>
        </div>

        <div class="navbar-collapse collapse show">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" style="border: 1px solid gray; border-radius: 90px; justify-content: center; padding: 2px; position: relative; margin-right: 10px">
                    <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-2x fa-user-circle" style="padding: 3px; color: black"></i>
                        <span class="d-inline-block btn float-left">
                            @(User.Identity.IsAuthenticated ? @User.Identity.Name.Split('@')[0] : "Account")
                        </span>
                    </a>
                    <div class="dropdown-menu pull-right" aria-labelledby="navbarDropdown">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="dropdown-item" href="@Url.Action("Manage", "Account")">My Account</a>
                            <a class="dropdown-item" href="@Url.Action("SignOut", "User")">LogOff</a>
                        }
                        else
                        {
                            if (ApplicationConfig.RegisterEnabled)
                            {
                                <a class="dropdown-item" href="@Url.Action("Register", "User",new { id = "registerLink" })">Register</a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("SignIn", "User", new { id = "loginLink" }))">Sign In</a>
                            }
                        }
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>
