@using TicketDesk.Localization.Views.TicketCenter

@model TicketDesk.Web.Client.Models.TicketCenterListViewModel
@{
    var ajaxFilterOptions = new AjaxOptions { UpdateTargetId = "ticketList", OnBegin = "ticketCenter.filters.beginChangeFilter", OnSuccess = "ticketCenter.completeChangeList", OnFailure = "ticketCenter.completeChangeList" };
}

<style>
    label {
        display: block !important;
        text-align: center !important;
        line-height: 150% !important;
        margin-top: 10px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 8px !important;
        right: 1px;
        width: 20px;
    }
</style>


<div class="row">
    <!--<div class="col-1">-->
        @*<label class="control-label center-block">
            <i class="fas fa-filter" style="color: #428bff"></i>
        </label>*@
    <!--</div>-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            @using (Ajax.BeginForm("FilterList", "TicketCenter", new { Model.CurrentListSetting.ListName }, ajaxFilterOptions, new { id = "filterForm", role = "form" }))
            {
                <div class="row" style="width: 95vw; padding-right: 30px">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 my-1">
                        <div class="row">
                            <label class="control-label col-4 center-block">
                                @Index.Status
                            </label>
                            <div class="col-8">
                                @Html.DropDownList("TicketStatus", Model.FilterBar.TicketStatusSelectList, Model.FilterBar.StatusFilterHtmlAttributes)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-1">
                        <div class="row">
                            <label class="control-label col-4 center-block">
                                @Index.Owner
                            </label>
                            <div class="col-8">
                                @Html.DropDownList("Owner", Model.FilterBar.SubmittersSelectList, Model.FilterBar.AssignedFilterHtmlAttributes)
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-1">
                        <div class="row">
                            <label class="control-label col-4 center-block"> @Index.Assigned</label>
                            <div class="col-8">
                                @Html.DropDownList("AssignedTo", Model.FilterBar.AssignedToSelectList, Model.FilterBar.AssignedFilterHtmlAttributes)
                                <input type="submit" value="filter" id="filterSubmitButton" style="display:none" />
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-1">
                        <div class="row">
                            <label class="control-label col-4 center-block">@Index.Show</label>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-8">@Html.DropDownList("PageSize", Model.FilterBar.ItemsPerPageSelectList, new { @class = "postback form-control number-select" })</div>
                                    <div class="col-4"><label class="control-label center-block"> @string.Format(Index.TotalItemCount, Model.Tickets.TotalItemCount)</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
