@using TicketDesk.Localization.Views.TicketCenter

@model TicketDesk.Web.Client.Models.TicketCenterListViewModel
@{
    var ajaxFilterOptions = new AjaxOptions { UpdateTargetId = "ticketList", OnBegin = "ticketCenter.filters.beginChangeFilter", OnSuccess = "ticketCenter.completeChangeList", OnFailure = "ticketCenter.completeChangeList" };
}

<div class="navbar" style="min-height: 0; margin: 0; margin-left: 0px; margin-right: 0px;">
    <div class="row">
        <div class="col-md-12">
            <div style="display:flex; justify-content: space-between; align-items: stretch">

                <div class="pull-left">
                    <button type="button" class="btn btn-primary navbar-toggle collapsed" data-toggle="collapse" data-target="#filterbar-collapse">
                        @*<div class="btn btn-default btn-sm">*@
                        <span class="sr-only">@Index.ToggleNav</span>
                        <span class=""><i class="fa fa-filter"></i></span>
                        @*</div>*@
                    </button>
                </div>

                <div class="pull-right">
                    <div class="collapse navbar-collapse" id="filterbar-collapse">
                        @using (Ajax.BeginForm("FilterList", "TicketCenter", new { Model.CurrentListSetting.ListName }, ajaxFilterOptions, new { id = "filterForm", @class = "form-horizontal navbar-form", role = "form" }))
                        {
                            <div class="row">
                                <div class="row form-group form-group-xs small" style="width: 100%; margin: 0;">
                                    <label class="control-label col-sm-1 text-right">
                                        @Index.Status
                                    </label>
                                    <div class="col-sm-2">
                                        @Html.DropDownList("TicketStatus", Model.FilterBar.TicketStatusSelectList, Model.FilterBar.StatusFilterHtmlAttributes)
                                    </div>

                                    <label class="control-label col-sm-1 text-right form-control-static">
                                        @Index.Owner
                                    </label>
                                    <div class="col-sm-2">
                                        @Html.DropDownList("Owner", Model.FilterBar.SubmittersSelectList, Model.FilterBar.OwnerFilterHtmlAttributes)
                                    </div>

                                    <label class="control-label col-sm-1 text-right form-control-static">
                                        @Index.Assigned
                                    </label>
                                    <div class="col-sm-2">
                                        @Html.DropDownList("AssignedTo", Model.FilterBar.AssignedToSelectList, Model.FilterBar.AssignedFilterHtmlAttributes)
                                        <input type="submit" value="filter" id="filterSubmitButton" />
                                    </div>
                                    <label class="control-label col-sm-1 text-right form-control-static">
                                        @Index.Show
                                    </label>
                                    <div class="col-sm-2" style="white-space: nowrap">
                                        @Html.DropDownList("PageSize", Model.FilterBar.ItemsPerPageSelectList, new { @class = "postback form-control number-select" })<label class="control-label form-control-static"> @string.Format(Index.TotalItemCount, Model.Tickets.TotalItemCount)</label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

