@using TicketDesk.Localization.Views.TicketCenter

@using TicketDesk.Domain.Model
@model IEnumerable<UserTicketListSetting>
@{
    var currentListSettings = (UserTicketListSetting)ViewBag.CurrentListSettings;
}
<link href="~/Content/tab.css" rel="stylesheet" />
<div class="tab" role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var list in Model)
        {
            var className = ((currentListSettings.ListName == list.ListName)) ? "active" : string.Empty;
            <li class="@className small">
                @Html.ActionLink(list.ListDisplayName, "Index", new { ListName = list.ListName })
            </li>
        }
        @*<li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Section 1</a></li>
        <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Section 2</a></li>
        <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Section 3</a></li>*@
    </ul>
    <!-- Tab panes -->
    @*<div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="Section1">
            <h3>Section-1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a blandit enim. Aliquam gravida orci id fringilla feugiat. Integer convallis ut ex quis semper. Suspendisse ut lobortis urna. Proin viverra, eros iaculis iaculis posuere, risus justo tincidunt ex, eget tempor lectus erat vel massa. Cum sociis natoque penatibus et magnis.</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Section2">
            <h3>Section-2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a blandit enim. Aliquam gravida orci id fringilla feugiat. Integer convallis ut ex quis semper. Suspendisse ut lobortis urna. Proin viverra, eros iaculis iaculis posuere, risus justo tincidunt ex, eget tempor lectus erat vel massa. Cum sociis natoque penatibus et magnis.</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Section3">
            <h3>Section-3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a blandit enim. Aliquam gravida orci id fringilla feugiat. Integer convallis ut ex quis semper. Suspendisse ut lobortis urna. Proin viverra, eros iaculis iaculis posuere, risus justo tincidunt ex, eget tempor lectus erat vel massa. Cum sociis natoque penatibus et magnis. </p>
        </div>
    </div>*@
</div>

@*<div class="row menulist">
    <ul class="nav nav-tabs pull-right" role="tablist">
        @foreach (var list in Model)
        {
            var className = ((currentListSettings.ListName == list.ListName)) ? "active" : string.Empty;
            <li class="@className small">
                @Html.ActionLink(list.ListDisplayName, "Index", new { ListName = list.ListName })
            </li>
        }
        <li data-toggle="tooltip"
                data-placement="bottom"
                title="@Index.ResetAllSettings">
                <a href="#" class="" data-toggle="modal" data-target="#reset-confirm">
                    <i class="fa fa-repeat"></i> <span class="hidden-xs hidden-sm">@Index.ResetLists</span>
                </a>
            </li>
    </ul>
</div>

<div class="modal fade" id="reset-confirm" tabindex="-1" role="dialog" aria-labelledby="reset-confirm-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@Index.CloseOption"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="reset-confirm-label">@Index.Reset_Confirmation</h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-danger">
                    @Index.Reser_Alert
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Index.CancelOption</button>
                <a href="@Url.Action("ResetUserLists")" class="btn btn-primary">@Index.SaveOption</a>
            </div>
        </div>
    </div>
</div>*@
