@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TicketDesk.Domain.Model
@using Chart.Mvc.ComplexChart
@using Chart.Mvc.Extensions
@using Chart.Mvc.SimpleChart
@{
    var pending = Convert.ToDecimal(ViewBag.pendingticket);
    var total = Convert.ToDecimal(ViewBag.totalticket);
    var complete = Convert.ToDecimal(ViewBag.closedticket);

    decimal parcent = ((pending / total) * 100);
    decimal par = ((complete / total) * 100);
    var pendingPercent = String.Format("{0:0.00}", parcent);
    var closePercent = String.Format("{0:0.00}", par);

    List<Ticket> ticketlist = (List<Ticket>)ViewBag.ticketlist;
}

<div class="content">
    <div class="container-fluid">

        <div class="row">

            <!--<div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Ticket</span>
                        <h2 class="info-box-number">
                            @ViewBag.totalticket-->
            @*<small>%</small>*@
            <!--</h2>
                    </div>
                </div>
            </div>-->
            @*<div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Likes</span>
                            <span class="info-box-number">41,410</span>
                        </div>
                    </div>
                </div>*@

            <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-6">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-list"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Pending Ticket</span>
                        <h3 class="info-box-number">@ViewBag.pendingticket  <span class="info-box-number">@pendingPercent% </span></h3>
                    </div>

                </div>

            </div>

            <div class="col-12 col-sm-6 col-md-6">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-th-list"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Close Ticket</span>
                        <h3 class="info-box-number">
                            @ViewBag.closedticket
                            <span class="info-box-number">@closePercent% </span>
                        </h3>

                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    @*<div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Ticket Generate</h3>
                                <a href="javascript:void(0);">Last 30 Days</a>
                            </div>
                        </div>*@
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg">Total Ticket</span>
                                <span>@ViewBag.totalticket</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                                @if (ViewBag.incpercentage != null)
                                {
                                    <span class="text-success">
                                        <i class="fas fa-arrow-up"></i> @ViewBag.incpercentage %
                                    </span>
                                }
                                else
                                {
                                    <span class="text-warning">
                                        <i class="fas fa-arrow-down"></i>@ViewBag.decpercentage %
                                    </span>
                                }
                                <span class="text-muted">Since last Month</span>
                            </p>
                        </div>

                        <div class="position-relative mb-4">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="visitors-chart" height="200" width="487" style="display: block; width: 487px; height: 200px;" class="chartjs-render-monitor"></canvas>
                        </div>
                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                                <i class="fas fa-square text-primary"></i> Open Ticket
                            </span>
                            <span>
                                <i class="fas fa-square text-gray"></i> Close Ticket
                            </span>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Total Ticket</h3>
                            <a href="javascript:void(0);">View Report</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg">Total Ticket</span>
                                <span>@ViewBag.totalticket</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                                @if (ViewBag.incpercentage != null)
                                {
                                    <span class="text-success">
                                        <i class="fas fa-arrow-up"></i> @ViewBag.incpercentage %
                                    </span>
                                }
                                else
                                {
                                    <span class="text-warning">
                                        <i class="fas fa-arrow-down"></i>@ViewBag.decpercentage %
                                    </span>
                                }
                                <span class="text-muted">Since last Month</span>
                            </p>
                        </div>

                        <div class="position-relative mb-4">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="sales-chart" height="200" style="display: block; width: 487px; height: 200px;" width="487" class="chartjs-render-monitor"></canvas>
                        </div>
                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                                <i class="fas fa-square text-primary"></i> Open Ticket
                            </span>
                            <span>
                                <i class="fas fa-square text-gray"></i> Close Ticket
                            </span>
                        </div>
                    </div>
                </div>



            </div>

            <div class="col-lg-6">
                <div class="card">
                    @*<div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Total Ticket</h3>
                                <a href="javascript:void(0);">View Report</a>
                            </div>
                        </div>*@
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg">AVG Time Completion in HOUR</span>
                                <span>@ViewBag.totalticket</span>
                            </p>
                            @*<p class="ml-auto d-flex flex-column text-right">
                                    @if (ViewBag.incpercentage != null)
                                    {
                                        <span class="text-success">
                                            <i class="fas fa-arrow-up"></i> @ViewBag.incpercentage %
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="text-warning">
                                            <i class="fas fa-arrow-down"></i>@ViewBag.decpercentage %
                                        </span>
                                    }
                                    <span class="text-muted">Since last Month</span>
                                </p>*@
                        </div>

                        <div class="position-relative mb-4">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="avgtime-chart" height="200" style="display: block; width: 487px; height: 200px;" width="487" class="chartjs-render-monitor"></canvas>
                        </div>
                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                                <i class="fas fa-square text-primary"></i> AVG Ticket Completion Time
                            </span>
                            @*<span>
                                    <i class="fas fa-square text-gray"></i> Close Ticket
                                </span>*@
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Last 5 Ticket Status</h3>
                        @*<div class="card-tools">
                                <a href="#" class="btn btn-sm btn-tool">
                                    <i class="fas fa-download"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-tool">
                                    <i class="fas fa-bars"></i>
                                </a>
                            </div>*@
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Ticket ID</th>
                                    <th>Ticket Title</th>
                                    <th>Created At</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ticketlist)
                                {
                                    <tr>
                                        <td>@item.TicketId</td>
                                        <td>@item.Title</td>
                                        <td>@item.CreatedDate</td>
                                        <td>
                                            @if (item.TicketStatus == TicketStatus.Active)
                                            {
                                                <span style="color: green">@TicketStatus.Active.ToString()</span>
                                            }
                                            else
                                            {
                                                <span style="color: orangered">@TicketStatus.Closed.ToString()</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @*<div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                <p class="text-success text-xl">
                                    <i class="ion ion-ios-refresh-empty"></i>
                                </p>
                                <p class="d-flex flex-column text-right">
                                    <span class="font-weight-bold">
                                        <i class="ion ion-android-arrow-up text-success"></i> 12%
                                    </span>
                                    <span class="text-muted">CONVERSION RATE</span>
                                </p>
                            </div>

                            <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                <p class="text-warning text-xl">
                                    <i class="ion ion-ios-cart-outline"></i>
                                </p>
                                <p class="d-flex flex-column text-right">
                                    <span class="font-weight-bold">
                                        <i class="ion ion-android-arrow-up text-warning"></i> 0.8%
                                    </span>
                                    <span class="text-muted">SALES RATE</span>
                                </p>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-0">
                                <p class="text-danger text-xl">
                                    <i class="ion ion-ios-people-outline"></i>
                                </p>
                                <p class="d-flex flex-column text-right">
                                    <span class="font-weight-bold">
                                        <i class="ion ion-android-arrow-down text-danger"></i> 1%
                                    </span>
                                    <span class="text-muted">REGISTRATION RATE</span>
                                </p>
                            </div>*@

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div id="linediv" style="display:none"> @Html.Raw(ViewBag.lineChart)</div>
<div id="bardiv" style="display:none"> @Html.Raw(ViewBag.barChart)</div>
<div id="avgtimebardiv" style="display:none"> @Html.Raw(ViewBag.avgtimebarChart)</div>

@section scripts{

    @*<script src="plugins/jquery/jquery.min.js"></script>*@
    <!-- Bootstrap -->
    @*<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <!-- AdminLTE -->
    @*<script src="dist/js/adminlte.js"></script>*@

    <!-- OPTIONAL SCRIPTS -->
    @*<script src="~/Scripts/Chart.js"></script>*@
    <script src="~/Content/AdminLTE/plugins/chart.js/Chart.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/AdminLTE/demo.js"></script>
    <script src="~/Content/AdminLTE/dashboard3.js"></script>
    <script>
        $(document).ready(function () {
            //$('.heading-title').html('Dashboard');
            $('.controller-name').html('Home');
            $('.controller-action').html('Dashboard');
        });
    </script>
}